/* ==================<HERO>=================== */

.hero-portfolio {
  padding-top: 96px;
  padding-bottom: 152px;
}

.menu-list-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.menu-item-nav:not(:last-child) {
  margin-right: 24px;
}

.menu-btn {
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-background-focus-hover);
  cursor: pointer;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  border: none;
}

.menu-btn:hover,
.menu-btn:focus {
  background-color: var(--color-background-focus-hover);
  color: #fff;
}

/* ==================</HERO>=================== */

/* ==================<PORTFOLIO>=================== */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--photo-text-gap));
  margin-left: calc(-1 * var(--photo-text-gap));
}

.portfolio-item {
  margin-left: var(--photo-text-gap);
  margin-top: var(--photo-text-gap);
  flex-basis: calc(100% / 3 - var(--photo-text-gap));
}

.card-portfolio {
  cursor: pointer;
}

.card-portfolio:hover {
  box-shadow: var(--card-shadow);
}

.card-portfolio-content {
  padding-left: 16px;
}

.portfolio-images {
  padding-bottom: 32px;
}

.portfolio-text {
  padding-bottom: 32px;
}

.portfolio-title {
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-black-dark-bold);
  margin-bottom: 8px;
}

.portfolio-text {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black-light);
  
}

/* ==================</PORTFOLIO>=================== */

/* ==================<FOOTER>=================== */

/* ==================</FOOTER>=================== */
